@import './theme';

body {
  background-color: $black;
}
main {
  min-height: 80vh;
}

.no-border-radius {
  border-radius: 0%;
}
.white {
  color: $white;
}

.bg-black {
  background-color: $black !important;
}
.mt-100 {
  margin-top: 100px;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #000000;
  background-color: #000000;
}

.badge-warning{
  color: #000000;
}
